body {
	font-size: 1.2em;
	font-family: Arial;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	color: white;
	font-size: 20px;
	
}

	header h1 {
	}

title {
	color: white;
	font-size: 24px;
}

nav ul {
	background-color: #333;
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 200px;
	padding: 0;
	float: left;
	color: black;
}

nav a {
	color: white;
	display: block;
	padding: 1em;
	text-decoration: none;
}

main {
	padding: 2em;
	flex: 1;
}

section {
	margin-bottom: 2em;
}

	section h2 {
		margin-top: 0;
	}

footer {
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
}

	footer p {
		color: white;
		margin: 0;
	}
